.navbar-inverse{
  background-color: #2396f3 !important;
  border: none;
  font-size: 18px;
}

body{

  padding: 80px;
  color:#ecf0f5 ;
  background-color:#ecf0f5 ;
  line-height: 20px;
  font-weight: 400;
  margin-left: 80px;
  margin-right: 80px;

}
body {
  height: 100vh;
  /*background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),url('/static/images/b2.jpeg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

/*img {
    border-radius: 50%;
}*/
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
}
h1 {
  /*text-transform: uppercase;*/
  margin: 0;
  font-size: 8rem;
  white-space: nowrap;
}

p {
  margin: 0;
  font-size: 2.5rem;
}
ul li{
  display: inline;
}
#vehicle{
  /*border: 3px solid black;*/
  color: #000;
  height: 200px;
  width: 1000px;
}
#map {
    height: 500px;
    width: 100%;
    background-color: white;


}
