.navbar-inverse{
  background-color: #2396f3 !important;
  color:inherit;
  border: none;
  font-size: 18px;
}

body{

  padding: 80px;
  color:#000 ;
  margin: 0;
  background-color:#ecf0f5 ;
  line-height: 20px;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
html body{
  min-height: 100%;
}
#logo{
  margin-left: 150px;
}
